.main {
  padding: 50px 0;
  text-align: center;
  background-image: url("../src/img/space.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
}
h1 {
  color: white;
  font-size: 60px;
  margin-top: 0;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 25%;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 0.8);
}
.site {
  width: 80%;
  margin: 0 auto;
}
.card-img {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.card img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.RocketDetails {
  padding: 50px 0;
  position: relative;
  text-align: center;
  background-image: url("../src/img/rocket.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -1;
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.ships {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}
.ships-inner {
  width: 40%;
  height: 250px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px;

}
.ships-inner img {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
.rocket-div {
  width: 50%;
  text-align: left;
  color: white;
}
 .stages {
   display: flex;
 }